.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Menu {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .Menu button {
   height: 50px;
   width: 300px;
   margin: 5px;
   border-radius: 5px;
   border: none;
   font-size: 20px;
   cursor: pointer;
 }