.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Menu,.Quiz ,.EndQuiz{
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .Menu button,.Quiz button, .EndQuiz button {
   height: 50px;
   width: 300px;
   margin: 5px;
   border-radius: 5px;
   border: none;
   font-size: 20px;
   cursor: pointer;
 }

 .Menu, .Quiz ,.EndQuiz{
   color: white;
   justify-content: center;
   align-items:  center;
 }
 .Quiz h3 {
   text-align: center;
  font-size: 25px;
  color: black;
  font : bold
 }


.options{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   
}